# nginx のカギフォルダを除外
nginx/keys/*
!nginx/keys/readme.md

# nginxのログを除外
nginx/logs/*
!nginx/logs/readme.md

# JWTの鍵フォルダを除外
openssl/jwtKeys/*
!openssl/jwtKeys/readme.md

# CLIトークンの鍵フォルダを除外
openssl/cliTokenKeys/*
!openssl/cliTokenKeys/genkey.sh
!openssl/cliTokenKeys/dockerfile

# 自動ビルド（air）の成果物を除外
*/src/tmp/

# その他
.DS_Store

# .env 除外
config/app.env
config/database.env
config/auth.env
auth/icons/*.png

# 別リポジトリ（launchs-org/manifest.git）のクローンを除外
manifest/
